body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 350px;
    border: 5px solid rgba(161, 161, 161, 0.76);
    backdrop-filter: blur(10px);
    background-color: rgba(141, 141, 141, 0.203);
    border-radius: 10px;
    margin-top: 5px;
}
#img{
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 78);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#img img{
    height: 200px;
    width: 200px;
    border: 2px solid rgba(123, 123, 123, 0.555);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px rgba(105, 105, 105, 0.768);
    transition: transform 0.5s ease;
}
#img p{
    margin: 5px;
}
#img h1{
    margin: 0px;
    padding: 0px;
    font-size: 35px;
    background: linear-gradient(to right, rgb(0, 123, 161), rgb(0, 123, 161), rgb(0, 123, 161), rgb(0, 255, 242), rgb(245, 245, 245), rgb(255, 255, 255), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
#img img:hover{
    transform: scale(1.1);
    box-shadow: 6px 6px 10px rgba(105, 105, 105, 0.835);
}
#skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: rgb(56, 56, 56);
    font-weight: bold;

}
#skills ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;;
    margin: 2px;
}
#skills li{
    padding: 5px;
}
#skilltext{
    text-align: center;
    margin: 2px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(28, 31, 64);
    font-weight: bold;
    text-decoration: underline;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.icons a{
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    margin: 0px;
}
.fa-brands.fa-youtube{
    color: red;
    transition: transform 0.5s ease;
}
.fa-brands.fa-discord{
    color: rgb(9, 0, 189);
    transition: transform 0.5s ease;
}
.fa-brands.fa-instagram{
    color: rgb(210, 0, 196);
    transition: transform 0.5s ease;
}
.fa-solid.fa-envelope{
    color: black;
    transition: transform 0.5s ease;
}
.fa-brands.fa-youtube:hover{
    color: rgb(184, 0, 0);
    transform: translateY(-50%);
}
.fa-brands.fa-discord:hover{
    color: rgb(6, 0, 117);
    transform: translateY(-50%);
}
.fa-brands.fa-instagram:hover{
    color: rgb(120, 0, 112);
    transform: translateY(-50%);
}
.fa-solid.fa-envelope:hover{
    color: rgb(45, 45, 45);
    transform: translateY(-50%);
}
@media (max-width:750px){
    #card{
        width: 300px;
    }
    #img img{
        transition: none;
        margin: 5px;
    }
    #img h1{
        font-size: 30px;
        padding-top: 10px;
    }
    #img img:hover{
        transform: none;
    }
    .fa-brands.fa-youtube{
        transition: none;
    }
    .fa-brands.fa-discord{
        transition: none;
    }
    .fa-brands.fa-instagram{
        transition: none;
    }
    .fa-solid.fa-envelope{
        transition: none;
    }
    .fa-brands.fa-youtube:hover{
        transform: none;
    }
    .fa-brands.fa-discord:hover{
        transform: none;
    }
    .fa-brands.fa-instagram:hover{
        transform: none;
    }
    .fa-solid.fa-envelope:hover{
        transform: none;
    }
}